body{
    margin: 0;
    padding: 0;
    
}
h1{
    text-align: center;
}
.first{
    display: flex;
}
.second{
    align-items: center;
    justify-content: center;
}

/* element.style {
    margin: 100px;
    display: flex; change it in caspio form.
    align-content: center;
    justify-content: center;
} */