body{
    margin: 0;
    padding: 0;
    
}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

/* element.style {
    margin: 100px;
    display: flex; change it in caspio form.
    align-content: center;
    justify-content: center;
} */